<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfait</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/main-grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/main-grid.css">
    <!--<![endif]-->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/marketing.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>

<div class="blur"></div>
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"><a id="unlock-button" class="pure-button" href="#"><i class="icon-unlock icon-large"></i><span id="unlock-text">Unlock</span></a></h1>
        <p class="splash-subhead">
            With great power comes great responsibility.
        </p>
        <p>
            <span id="error"></span>
        </p>
    </div>
</div>

<script src="/static/js/jquery-2.1.1.min.js"></script>

<script>
    function ping() {
        $('#unlock-text').text('Unlocking...');
        $.ajax({url:'/ping'})
              .done(function(data) {
                  if (data == "success") {
                      $('#unlock-text').text('Unlocked');
                      setTimeout(function() {
                        $('#unlock-text').text('Unlock');
                      }, 2000);
                  } else {
                      $('#error').append('Timeout. Please try again.');
                  }
              });
    }
     $(document).ready(function() {
        $("#unlock-button").click(function() {
            ping();
        });
    });
</script>

</body>
</html>
